# Concatenar dados de arquivos Data Logger em um único arquivo CSV

Este notebook deve ser executado na pasta raíz onde se encontram as demais pastas com arquivos de data logger. Exemplo:

- Pasta raíz
    - concatenar_dados.ipynb
    - RB01 
    - RB10
    - RB11
   
A variável principal que guarda o conteúdo concatenado é a `output`.

---

### Prepara lista de arquivos a serem concatenados
Alterar a variável `mypath` para a pasta desejada.

In [3]:
# Gets list of files to be concatenated
from os import listdir
from os.path import isfile, join

mypath = './RB01/'

onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

### Função para extrair conteúdo dos arquivos em uma lista de strings

In [2]:
# Function to extract list of lines from a given file
def file_to_list(filename):
    with open(filename) as f:
        output = f.readlines()
    
    if (output[1] == 'Design Analysis\n'):  # Checks if it is a valid file. Criterion: it has this in line 2
        output = output[9:]  # Ignores header lines
        return output
    else:  # If it's a invalid file, returns an empty list
        return []

In [4]:
# Loop to process and concatenate multiple files 
output = []
out = []
for file in onlyfiles:
    
    filename = mypath + file
    
    try:
        out = file_to_list(filename)
        print('OK: File successfully processed: ' + filename)
    except:
        print('ERROR: File not found: ' + filename)
    
    output = output + out
    #print('Length of file: ' + str(len(out))
    #print('Length of ongoing concatenation: ' + str(len(output))

ERROR: File not found: ./RB01/.DS_Store
OK: File successfully processed: ./RB01/BUGRES.A01
OK: File successfully processed: ./RB01/BUGRES.A02
OK: File successfully processed: ./RB01/BUGRES.A06
OK: File successfully processed: ./RB01/BUGRES.A08
OK: File successfully processed: ./RB01/BUGRES.A09
OK: File successfully processed: ./RB01/BUGRES.A10
OK: File successfully processed: ./RB01/BUGRES.A11
OK: File successfully processed: ./RB01/BUGRES.A12
OK: File successfully processed: ./RB01/BUGRES.A13
OK: File successfully processed: ./RB01/BUGRES.A14
OK: File successfully processed: ./RB01/BUGRES.A15
OK: File successfully processed: ./RB01/BUGRES.A16
OK: File successfully processed: ./RB01/BUGRES.A17
OK: File successfully processed: ./RB01/BUGRES.A18
OK: File successfully processed: ./RB01/BUGRES.A19
OK: File successfully processed: ./RB01/BUGRES.A20
OK: File successfully processed: ./RB01/BUGRES.A21
OK: File successfully processed: ./RB01/BUGRES.A22
OK: File successfully processed: ./RB01/BUGRES.A23
OK: File successfully processed: ./RB01/BUGRES.A24
OK: File successfully processed: ./RB01/BUGRES.A25
OK: File successfully processed: ./RB01/BUGRES.A26
OK: File successfully processed: ./RB01/BUGRES.A27
OK: File successfully processed: ./RB01/BUGRES.A28
OK: File successfully processed: ./RB01/BUGRES.A29
OK: File successfully processed: ./RB01/BUGRES.A30
OK: File successfully processed: ./RB01/BUGRES.A31
OK: File successfully processed: ./RB01/BUGRES.A32
OK: File successfully processed: ./RB01/BUGRES.A33
OK: File successfully processed: ./RB01/BUGRES.A34
OK: File successfully processed: ./RB01/BUGRES.A35
OK: File successfully processed: ./RB01/BUGRES.A36
OK: File successfully processed: ./RB01/BUGRES.A37
OK: File successfully processed: ./RB01/BUGRES.A39
OK: File successfully processed: ./RB01/BUGRES.A40
OK: File successfully processed: ./RB01/BUGRES.A42

### Trocar separador para vírgula
Se os dados não são separados por vírgula, substitui espaços por vírgulas (isso é feito para poder salvar o arquivo final em formato CSV). Rotina implementada não é perfeita e pode dar erros para outros arquivos além dos RBxx.

In [5]:
if ',' not in output[0]:
    print('Converting into commas...')
    output = [line.replace(' ', ',').replace(',,,', ',').replace(',,', ',').replace(',,',',') for line in output]

### Salvar dados concatenados em um arquivo

In [6]:
# Procedure to get header
filename = mypath + onlyfiles[1]

with open(filename) as f:
    header_file = f.readlines()

header = header_file[6]
print(header)

# Fixes commas if needed
if ',' not in header:
    header = header.replace('   ', ',').lstrip(',')

print(header)

output = [header] + output

    Date,    Time,    Batt,   SDI21,   SDI22,   SDI11,   SDI01,   SDI07

    Date,    Time,    Batt,   SDI21,   SDI22,   SDI11,   SDI01,   SDI07

In [7]:
!cd $mypath; mkdir concatenado  # Creates new folder 'concatenado' to store the resulting file

output_filename = mypath + 'concatenado/dados_concatenados.csv'

with open(output_filename, 'w') as f:
    for line in output:
        f.write(line)

mkdir: concatenado: File exists

### Manipular dados com Pandas
Testes iniciais com Pandas para verificar a integridade do resultado.

O notebook `analise-dados.ipynb` traz mais manipulações.

In [10]:
import pandas as pd

df = pd.read_csv(output_filename)
df

,Date,Time,Batt,SDI21,SDI22,SDI11,SDI01,SDI07
0,16/03/11,11:30:00,12.76,1.11,4,1.02,15.0,17.8
1,16/03/11,11:40:00,12.76,0.00,0,1.02,15.0,17.8
2,16/03/11,11:50:00,13.07,0.00,0,1.02,14.0,17.8
3,16/03/11,12:00:00,13.15,0.00,0,1.02,14.0,17.9
4,16/03/11,12:10:00,12.84,0.00,0,1.02,13.0,17.9
5,16/03/11,12:20:00,13.31,0.00,0,1.02,13.0,17.9
6,16/03/11,12:30:00,13.00,0.00,0,1.02,13.0,17.9
7,16/03/11,12:40:00,13.39,0.80,3,1.02,12.0,18.0
8,16/03/11,12:50:00,13.31,0.00,0,1.02,14.0,18.0
9,16/03/11,13:00:00,13.47,0.00,0,1.02,13.0,18.1
10,16/03/11,13:10:00,13.55,0.00,0,1.02,12.0,18.1
11,16/03/11,13:20:00,13.63,0.00,0,1.02,12.0,18.2
12,16/03/11,13:30:00,13.63,0.00,0,1.01,12.0,18.2
13,16/03/11,13:40:00,13.70,0.00,0,1.01,12.0,18.3
14,16/03/11,13:50:00,13.39,0.00,0,1.01,12.0,18.3
15,16/03/11,14:00:00,13.78,0.00,0,1.01,13.0,18.3
16,16/03/11,14:10:00,13.78,0.00,0,1.01,13.0,18.4
17,16/03/11,14:20:00,13.86,0.00,0,1.01,14.0,18.5
18,16/03/11,14:30:00,13.63,0.00,0,1.01,13.0,18.6
19,16/03/11,14:40:00,13.86,0.00,0,1.01,13.0,18.6
20,16/03/11,14:50:00,13.86,0.00,0,1.01,13.0,18.7
21,16/03/11,15:00:00,13.86,0.00,0,1.01,12.0,18.7
22,16/03/11,15:10:00,13.86,0.00,0,1.01,12.0,18.7
23,16/03/11,15:20:00,13.86,0.00,0,1.01,11.0,18.8
24,16/03/11,15:30:00,13.86,0.00,0,1.01,12.0,18.8
25,16/03/11,15:40:00,13.86,0.00,0,1.00,12.0,18.8
26,16/03/11,15:50:00,13.86,0.00,0,1.00,12.0,18.7
27,16/03/11,16:00:00,13.86,0.00,0,1.01,12.0,18.7
28,16/03/11,16:10:00,13.86,0.00,0,1.00,12.0,18.7
29,16/03/11,16:20:00,13.86,0.00,0,1.00,12.0,18.7
...,...,...,...,...,...,...,...,...
158238,14/06/14,22:30:00,9.53,0.00,0,0.00,0.0,0.0
158239,14/06/14,22:40:00,9.53,0.00,0,0.00,0.0,0.0
158240,14/06/14,22:50:00,9.53,0.00,0,0.00,0.0,0.0
158241,14/06/14,23:00:00,9.53,0.00,0,0.00,0.0,0.0
158242,14/06/14,23:10:00,9.53,0.00,0,0.00,0.0,0.0
158243,14/06/14,23:20:00,9.53,0.00,0,0.00,0.0,0.0
158244,14/06/14,23:30:00,9.53,0.00,0,0.00,0.0,0.0
158245,14/06/14,23:40:00,9.53,0.00,0,0.00,0.0,0.0
158246,14/06/14,23:50:00,9.53,0.00,0,0.00,0.0,0.0
158247,15/06/14,00:00:00,9.53,0.00,0,0.00,0.0,0.0
158248,15/06/14,00:10:00,9.53,0.00,0,0.00,0.0,0.0
158249,15/06/14,00:20:00,9.53,0.00,0,0.00,0.0,0.0
158250,15/06/14,00:30:00,9.53,0.00,0,0.00,0.0,0.0
158251,15/06/14,00:40:00,9.53,0.00,0,0.00,0.0,0.0
158252,15/06/14,00:50:00,9.53,0.00,0,0.00,0.0,0.0
158253,15/06/14,01:00:00,9.53,0.00,0,0.00,0.0,0.0
158254,15/06/14,01:10:00,9.53,0.00,0,0.00,0.0,0.0
158255,15/06/14,01:20:00,9.53,0.00,0,0.00,0.0,0.0
158256,15/06/14,01:30:00,9.53,0.00,0,0.00,0.0,0.0
158257,15/06/14,01:40:00,9.53,0.00,0,0.00,0.0,0.0
158258,15/06/14,01:50:00,9.53,0.00,0,0.00,0.0,0.0
158259,15/06/14,02:00:00,9.53,0.00,0,0.00,0.0,0.0
158260,15/06/14,02:10:00,9.53,0.00,0,0.00,0.0,0.0
158261,15/06/14,02:20:00,9.53,0.00,0,0.00,0.0,0.0
158262,15/06/14,02:30:00,9.53,0.00,0,0.00,0.0,0.0
158263,15/06/14,02:40:00,9.53,0.00,0,0.00,0.0,0.0
158264,15/06/14,02:50:00,9.53,0.00,0,0.00,0.0,0.0
158265,15/06/14,03:00:00,9.53,0.00,0,0.00,0.0,0.0
158266,15/06/14,03:10:00,9.53,0.00,0,0.00,0.0,0.0
158267,15/06/14,03:20:00,9.53,0.00,0,0.00,0.0,0.0

In [9]:
df.iloc[3180]  # Sample test

    Date    07/04/11
    Time    13:30:00
    Batt       13.94
   SDI21           0
   SDI22           0
   SDI11        0.88
   SDI01          10
   SDI07        16.4
Name: 3180, dtype: object